body{
  margin:0;
  font-family:Segoe UI, sans-serif;
  background:"whitesmoke";
}

.container{
  width:90%;
  margin:auto;
  margin-top:40px;
  background:#F3F4F4;
  padding:30px;
  border-radius:12px;
  box-shadow:0 10px 30px rgba(0,0,0,0.4);
}



h2{
  text-align:center;
  color:#020202;
}

h3{
  margin-top:30px;
  color:#010101;
}

input{
  padding:10px;
  margin:6px;
  width:260px;
  border-radius:6px;
  border:1px solid #ccc;
  outline:none;
}

input:focus{
  border:1px solid #4facfe;
}

button{
  background:#83AEB8;
  color:white;
  border:none;
  padding:10px 16px;
  border-radius:6px;
  cursor:pointer;
  font-weight:600;
}

button:hover{
  background:#6f96a0;
}

.card{
  background:#faf8f8;
  padding:10px;
  border-radius:8px;
  margin:8px 0;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
